.question-header {
  display: flex;
  align-items: center;
  width: 100%;

  .question-text {
  }

  .question-result {
    margin-left: auto;
    font-weight: bold;

    &.juste {
      color: green;
    }

    &.faux {
      color: red;
    }
  }
}
